@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer base {
  :root {
    --text-50: #fafafa;
    --text-100: #f4f4f5;
    --text-200: #e4e4e7;
    --text-300: #d4d4d8;
    --text-400: #a1a1aa;
    --text-500: #71717a;
    --text-600: #52525b;
    --text-700: #484851;
    --text-800: #303036;
    --text-900: #252429;
    --text-950: #18181b;
    
    --background-50: #fdf3e7;
    --background-100: #f9ead7;
    --background-200: #f7d0a1;
    --background-300: #f4b971;
    --background-400: #f0a242;
    --background-500: #ec8a13;
    --background-600: #bd6f0f;
    --background-700: #8e530b;
    --background-800: #5e3708;
    --background-900: #2f1c04;
    --background-950: #121212;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --radius: 0.5rem;
  }

  .dark {
    --text-50: #fafafa;
    --text-100: #f4f4f5;
    --text-200: #e4e4e7;
    --text-300: #d4d4d8;
    --text-400: #a1a1aa;
    --text-500: #71717a;
    --text-600: #52525b;
    --text-700: #484851;
    --text-800: #303036;
    --text-900: #252429;
    --text-950: #18181b;
    
    --background-50: #fdf3e7;
    --background-100: #fbe8d0;
    --background-200: #f7d0a1;
    --background-300: #f4b971;
    --background-400: #f0a242;
    --background-500: #ec8a13;
    --background-600: #bd6f0f;
    --background-700: #8e530b;
    --background-800: #5e3708;
    --background-900: #2f1c04;
    --background-950: #121212;
  }
}

/* @layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
} */

:root {
  --foreground-rgb: 0, 0, 0;
  --light-background-rgb: 254, 249, 243; /* #fef9f3 */
  --dark-background-rgb: 7, 27, 54; /* #071b36 */
}

h1 { 
  font-family: var(--font-drukwidebold);
 }

.rectangle-button {
  background-color: #262626;
  color: transparent; /* Set the text to transparent by default */
  /* height: 15vh; */
  width: 100%;
  border: none;
  cursor: pointer;
  position: relative; /* Create a relative positioning context for the children */
  font-family: var(--font-drukwidebold);
  /* Transition for smooth hover effect */
  transition: background-color 0.3s ease, color 0.3s ease;
}

.rectangle-button:hover {
  background-color: #333; /* Change the background color on hover */
}

.dark .rectangle-button:hover {
  background-color: #333; /* Change the background color on hover */
}

.rectangle-button:hover .button-text {
  color: white; /* Make the text visible on hover */
}

.button-text {
  position: absolute; /* Position the text absolutely within the button */
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Center both horizontally and vertically */
  white-space: nowrap; /* Prevent text from wrapping */
}

::selection {
  background: #00FF97;
}

.dark ::selection {
  background:#1b855b;
}